  .container{
    width: 100%;
    margin-top: 25px;
  
  }
  .left-content{
    width: 70%;
    min-height: 600px;
    max-height: auto;
    background-color: #f7f9f9;
    float: left;
  }
  .right-content{
    width: 30%;
    min-height: 600px;
    background-color: bisque;
    max-height: auto;
    float: right;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    text-align: center;
    font-family: arial;
    float: left;
    margin: 10px;
   
  }
  
  .price {
    color: grey;
    font-size: 16px;
    margin: 0px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
   
    background-color: tomato;
  }
  .title-txt{
    font-size: 16px;
    color: crimson;
  }
  .p-txt{
    font-size: 14px;
      text-align: center;
      padding: 5px;
      margin: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      height: 30px;
      overflow: hidden;
  }
  .btn-p{
    margin-bottom: 0px;
  }
  .image-css{
      width: 200px;
      height: 200px;
  }


  @media only screen and (max-width: 767px) {
    .image-css{
      width: 350px;
      height: 350px;
    }
    .card {
      max-width: 350px;
      
     
    }

}  