
    <div class="card">
      <img src="{{product.url}}" alt="Denim Jeans" class="image-css">
      <h1 class="title-txt">{{product.name}}</h1>
      <p class="price">{{product.currency}}.{{product.price}}</p>
      <p class="p-txt">Some text about the jeans. Super slim and comfy  </p>
      <p class="btn-p">
          <button class="btn btn-primary btn-sm"  *ngIf="added" (click)="RemoveItem(product)">Remove</button>
          <button class="btn btn-primary btn-sm"  *ngIf="!added" (click)="AddItem(product)">Add to cart</button>
      </p>
    </div>
